<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.pragmasoft" level="DEBUG"/>
    <logger name="org.elasticsearch" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="kafka" level="WARN"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="akka.kafka" level="INFO"/>
    <logger name="org.apache.kafka.clients.consumer.KafkaConsumer" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>